<!-- templates/commentaries/thought_list.html -->
{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block dash_content %}
    <ul>
        {%  for thought in thoughts %}
            <li style="margin: 10px 0;">
                <a href="{%  url 'commentaries:update_thought_view' thought.slug %}">
                        {{ thought.title }} </a>
                &emsp;{{thought.reference}}&emsp;{{thought.status}}&emsp;{{thought.updated }}
            </li>
        {% empty %}
            <li>No thoughts stored in database.</li>
        {% endfor %}
    </ul>
    <a href="{%  url 'commentaries:create_thought' %}">New post</a>
    <p>----------------------------------------------</p>
    <a href="{% url 'home' %}">Home</a>
{% endblock %}


