<!-- templates/commentaries/thought_listall.html -->
{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block content %}
    <ul>
        {%  for thought in thoughts %}
            <li>
                <a href="{%  url 'commentaries:update_thought_view' thought.slug %}">
                        {{ thought.title }} </a>
                &emsp;{{thought.reference}}&emsp;{{thought.status}}&emsp;{{thought.updated }}
            </li>
        {% empty %}
            <li>No thoughts stored in database.</li>
        {% endfor %}
    </ul>
{% endblock %}
